/* .bg-warning, .btn-warning {
  background: #FFD900 !important;
  border: none;
} */





body {
  /* font-family: "Raleway", sans-serif; */
  font-family: "Source Sans 3", sans-serif;
  font-size: 120%;

}

h1, h2, h3 {
  margin-top: 2rem;
}

.navbar-toggler {
  border-radius: 0;
}

.text-center {
  text-align: center;
}

.nav-link {
  padding: 0 !important;
  font-size: 80%;
  font-weight: bold;
}

li.nav-item {
  padding-left: 10px;
  padding-right: 10px;
}

a.nav-link.active, a.nav-link:hover {
  border-bottom: solid 1px;
  padding: 0px;
  color: black !important;
  display: block;
}

.btn {
  font-size: 80%;
  font-weight: bold;
}

#top-block {
  /* background-image: url(https://papik.pro/uploads/posts/2023-02/1675517694_papik-pro-p-kartinki-risunki-abstraktsiya-18.jpg); */
  /* background-color: #218359; */
  /* width: 100%; */
  /* background-size: cover; */
  /* background-position: center; */
  /* filter: grayscale(100%); */
  /* background: rgb(245, 245, 245); */
}