body {
  font-family: "Raleway", sans-serif;
  font-size: 120%;

}

h1, h2, h3 {
  margin-top: 2rem;
}

h1 {
  font-size: 3.5rem;
  font-weight: 400;
}

.navbar-toggler {
  border-radius: 0;
}

.text-center {
  text-align: center;
}

.nav-link {
  padding: 0 !important;
  font-size: 80%;
  font-weight: bold;
}

li.nav-item {
  padding-left: 10px;
  padding-right: 10px;
}

a.nav-link.active, a.nav-link:hover {
  border-bottom: solid 1px;
  padding: 0px;
  color: black !important;
  display: block;
}

.btn {
  font-size: 80%;
  font-weight: bold;
}