---
import MainLayout from "../layouts/MainLayout.astro";

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const title = "Главная";
---

<MainLayout title={title} description="Главная описание">
  <section class="bg-warning">
    <div class="container p-2">
      <div class="row gx-5">
        <div class="col-md-8">
          <div class="row">
            <div class="col bg-danger mt-4 mb-4" style="height: 560px;">
              <h3>34</h3>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="row">
            <div class="col bg-success mt-4">item1</div>
          </div>
          <div class="row">
            <div class="col bg-primary mt-4 mb-4">item2</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</MainLayout>
