---
const today = new Date();
---

<footer style="background-color: #F5F5F5;">
  <div class="container p-3">
    <p class="text-center">
      &copy; {today.getFullYear()} CodeOcean Studio
    </p>
  </div>
</footer>
