<div id="top-block" class="container-fluid bg-warning mt-3">
  <div class="container">
    <div class="row gx-5" style="padding: 96px 0 189px 0;">
      <div class="col-7 bg-white rounded-5 p-5">
        <div class="row">
          <h6 class="bg-light p-3 rounded-5">Создадим сайт, который будет работать на вас</h6>
          <h1 class="fw-bold lh-1 display-1">Всем нужен классный сайт!</h1>
          <p class="fw-bold w-50 sm-1 mt-5">
            уникальные веб-решения, которые привлекут клиентов и увеличат
            продажи
          </p>
          <button
            class="btn btn-warning btn-lg mt-4"
            style="height: 70px; width: 320px"
            type="submit">Связаться</button
          >
        </div>
      </div>
      <div class="col-5">
        <div class="row"><div class="col">2</div></div>
        <div class="row"><div class="col">3</div></div>
      </div>
    </div>
  </div>
</div>

<!-- <script type="text/javascript">
function adjustHeight() {
  var header = document.getElementById("header");
  var topBlock = document.getElementById("top-block");
  // Защитим от возможных ошибок
  if (!header || !topBlock) return;
  var newHeight = window.innerHeight - header.offsetHeight;
  // Проверяем высоту и устанавливаем новое значение
  topBlock.style.height = newHeight + "px";
  // Для удостоверения, что высота действительно изменена
  console.log("New height:", newHeight, "px");
}
document.addEventListener("DOMContentLoaded", adjustHeight);
window.addEventListener("resize", adjustHeight);
</script> -->
